@page
@model Meritsios_2._0.Pages.Users.AddModel
@{
}

<form method="post">
    <h1>Skapa en användare</h1>
    
    <div class="mb-3">
        <label class="form-label">Namn</label>
        <input class="form-control" type="text" asp-for="AddUserRequest.Name"/>
    </div>
    
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input class="form-control" type="email" asp-for="AddUserRequest.Email" />
    </div>
    
    <div class="mb-3">
        <label class="form-label">Telefonnummer</label>
        <input class="form-control" type="text" asp-for="AddUserRequest.Phone" />
    </div>

    <div class="mb-3">
        <label class="form-label">Skola</label>
        <input class="form-control" type="text" asp-for="AddUserRequest.School" />
    </div>
    
    <div class="mb-3">
        <label class="form-label">Utbildning</label>
        <input class="form-control" type="text" asp-for="AddUserRequest.Education" />
    </div>
    
    <div class="mb-3">
        <label class="form-label">Stad</label>
        <input class="form-control" type="text" asp-for="AddUserRequest.Location"/>
    </div>
    
    <div class="mb-3">
        <button class="btn btn-success" type="submit">Lägg till</button>
    </div>

</form>