@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row pt-3 ps-3">
        <div class="col-md-6">
            <h1>Meritios,</h1>
            <p>
                Allt du behöver för att digitalisera LiA
                praktiken och företagspoolen samlat i
                ett lättanvänt verktyg
            </p>
            <button class="btn btn-secondary">Boka Demo</button>
        </div>
        <div class="col-md-6 ps-3">
            <img class="h-100 w-100" src="https://wp.meritios.com/wp-content/uploads/2022/12/Namnlost-2.png" />
        </div>
    </div>
    <div class="row">
        <div class="text-center bg-primary">
            <h1>Företagspoolen samlad i
                ett CRM</h1>
            <button class="btn btn-secondary">Läs Mer</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <img class="h-100 w-100" src="https://wp.meritios.com/wp-content/uploads/2022/12/Namnlost-3-1536x1536.png" />
        </div>
        <div class="col-md-6 text-center">
            <h1>Digalisering av LIA-Processen</h1>
            <button class="btn btn-success">Läs Mer</button>
        </div>
    </div>





</div>